@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: Arvo;
  font-size: 14px;
  min-height: 100%;
  background: $grain-background;
  color: #333;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #333;

  &:visited {
    color: #333;
  }

  &:hover {
    color: lightblue;
  }

  &:active {
    color: hsl(208, 89%, 32%);
  }
}

h1 {
  font-family: 'Ultra', serif;
  font-size: 40px;
  letter-spacing: 0.1em;
  margin: 15px;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
  background: $grain-background;
  // margin-top: 50px;

  .header {
    text-align: center;
    width: 100%;
    background: $grain-background;
    border-bottom: $border;
    // margin-top: 30px;
    // margin: auto;
    // margin: 50px;


    .ul-box {
      background: $grain-background;
      margin: auto;
      display: flex;
      justify-content: space-around;

      .letterLinks {
        display: flex;
        align-items: center;
      }
    }
  }

  .sidebar-body-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .sidebar {
    background: $grain-background;
    width: 250px;
    // border-right: $border;
    margin-right: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;



    .form {
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: $border;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .searchForm {
      width: 200px;
      vertical-align: middle;
      white-space: nowrap;
      position: relative;
    }
    .searchForm input {
      // background-color: $red;
      border-radius: 8px;
      border: 0px;

      width: 200px;
  height: 50px;
  background: #333;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;

  // -webkit-transition: width .55s ease;
  // -moz-transition: width .55s ease;
  // -ms-transition: width .55s ease;
  // -o-transition: width .55s ease;
  // transition: width .55s ease;
    }

//     .searchForm input#search::-webkit-input-placeholder {
//    color: #65737e;
// }
//
// .searchForm input#search:-moz-placeholder { /* Firefox 18- */
//    color: #65737e;
// }
//
// .searchForm input#search::-moz-placeholder {  /* Firefox 19+ */
//    color: #65737e;
// }
//
// .searchForm input#search:-ms-input-placeholder {
//    color: #65737e;
// }

    .searchForm .icon {
      position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
    }

    .searchForm input#search:focus, .searchForm input#search:active{
  outline:none;
  width: 200px;
}

.searchForm:hover input#search{
width: 200px;
}

.searchForm:hover .icon{
  color: #93a2ad;
}

    // .ul-box ul {
    //   display: flex;
    //   width: 150px;
    //   height: 100px;
    // }

    ul {
      // width: 100px;
      // height: 100px;
      // padding-top: 20px;
      // padding-bottom: 20px;
      // display: flex;


      p {
        // list-style: none;
        // display: flex;
        // text-align: center;
        // justify-content: center;

      }
    }

    .addEntry {
      padding-top: 5px;
      padding-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: $border;
      border-radius: 5px;
      width: 100px;
      margin: 10px;
      background-color: transparentize(#333, 0.6);
      color: #fff;
    }
  }


  .body {
    background: $grain-background;
    width: 100%;
    height: 100%;
    // border-bottom: $border;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin-bottom: 80px;
  }

  .NewEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .NewEntry form {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 20px;
  }
}
