@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font-family: Gotham;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #333;

  &:visited {
    color: #333;
  }

  &:hover {
    color: lightblue;
  }
}


.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .header {
    text-align: center;
    width: 100%;
    background-color: rgb(192,132,140);
    border-bottom: 1px solid transparentize(#333, 0.5);
  }

  .sidebar-body-container {
    display: flex;
    width: 100%;

  }

  .sidebar {
    background-color: rgb(108,129,186);
    width: 250px;
    border-right: 1px solid transparentize(#333, 0.5);


    .form {
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid transparentize(#333, 0.5);
      border-top: 1px solid transparentize(#333, 0.5);
      margin: auto;
    }

    .ul-box {
      // display: flex;
      // justify-content: center;
      border-bottom: 1px solid transparentize(#333, 0.5);
      margin: auto;
      text-align: center;
      display: inline-block;
      column-count: 4;
      width: 180px;
    }

    // .ul-box ul {
    //   display: flex;
    //   width: 150px;
    //   height: 100px;
    // }

    ul {
      // width: 100px;
      // height: 100px;
      // padding-top: 20px;
      // padding-bottom: 20px;
      // display: flex;


      p {
        // list-style: none;
        // display: flex;
        // text-align: center;
        // justify-content: center;

      }
    }

    .addEntry {
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid transparentize(#333, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .body {
    border-top: 1px solid transparentize(#333, 0.5);
    background-color: rgb(254,225,211);
    width: 100%;
    border-bottom: 1px solid transparentize(#333, 0.5);
  }
}
